In [ ]:
# import requests
# import json

1. Fetch Data from Rest API

In [2]:
import requests

url = "https://freebooks-api2.p.rapidapi.com/aiBookSearch"

payload = { "message": "Suggest books on World war 2" }
headers = {
	"content-type": "application/json",
	"X-RapidAPI-Key": "e92c7db7ecmsh2f2339b617d9fb8p170841jsne2a2a54482cc",
	"X-RapidAPI-Host": "freebooks-api2.p.rapidapi.com"
}

response = requests.post(url, json=payload, headers=headers)

print(response.json())

{'books': [{'title': 'The Diary of a Young Girl', 'author': 'Anne Frank'}, {'title': 'The Book Thief', 'author': 'Markus Zusak'}, {'title': 'All the Light We Cannot See', 'author': 'Anthony Doerr'}, {'title': 'The Guns of Navarone', 'author': 'Alistair MacLean'}, {'title': 'Catch-22', 'author': 'Joseph Heller'}, {'title': "Schindler's List", 'author': 'Thomas Keneally'}, {'title': 'Band of Brothers', 'author': 'Stephen E. Ambrose'}, {'title': 'The Longest Day', 'author': 'Cornelius Ryan'}, {'title': 'The Rise and Fall of the Third Reich', 'author': 'William L. Shirer'}, {'title': 'Unbroken', 'author': 'Laura Hillenbrand'}], 'size': 10}

In [9]:
import json

In [17]:
data = response.json()
books = data["books"]
# print(books[0]["title"])
print(books[0])

{'title': 'The Diary of a Young Girl', 'author': 'Anne Frank'}

Database

In [15]:
import sqlite3
con = sqlite3.connect("books.db")

In [16]:
cur = con.cursor()

create db books

In [18]:
cur.execute("CREATE TABLE books(title, author)")

In [19]:
res = cur.execute("SELECT name FROM sqlite_master")
res.fetchone()

('books',)

In [20]:
res = cur.execute("SELECT name FROM sqlite_master WHERE name='spam'")
res.fetchone() is None

True

In [64]:
# btitle, bauthor =  books[0]["title"], books[0]["author"]

# print(btitle, bauthor)
btitle = []
# bauthor = []

for i in range(len(books)):
    # btitle, bauthor =  books[i]["title"], books[i]["author"]
    btitle.append((books[i]["title"], books[i]["author"]))
    # bauthor.append(books[i]["author"])

# print(btitle, bauthor)
print(btitle)

# print(len(books))

[('The Diary of a Young Girl', 'Anne Frank'), ('The Book Thief', 'Markus Zusak'), ('All the Light We Cannot See', 'Anthony Doerr'), ('The Guns of Navarone', 'Alistair MacLean'), ('Catch-22', 'Joseph Heller'), ("Schindler's List", 'Thomas Keneally'), ('Band of Brothers', 'Stephen E. Ambrose'), ('The Longest Day', 'Cornelius Ryan'), ('The Rise and Fall of the Third Reich', 'William L. Shirer'), ('Unbroken', 'Laura Hillenbrand')]

In [44]:
# print(values)
# values = [btitle, bauthor]

2. Storing Response Data in a local sqlite database.

In [65]:
cur.executemany("INSERT INTO books VALUES(?, ?)", btitle)
# cur.executemany("INSERT INTO books VALUES(?, ?)", [(btitle),(bauthor)])
# cur.execute("""
#     INSERT INTO books VALUES
#         ('The Diary of a Young Girl', "Anne Frank")
# """)

In [66]:
con.commit()

3. Display the data from the database.

In [91]:
res = cur.execute("SELECT title, author FROM books")
# title, author = res.fetchall()
# title, author = res.fetchone()
details = res.fetchall()
details = details[:-1]
# print(details)
for i in range(len(details)):
        print(f"{i+1} Title : {details[i][0]}  Author : {details[i][1]}")

1 Title : The Diary of a Young Girl  Author : Anne Frank
2 Title : The Diary of a Young Girl  Author : Anne Frank
3 Title : The Book Thief  Author : Markus Zusak
4 Title : All the Light We Cannot See  Author : Anthony Doerr
5 Title : The Guns of Navarone  Author : Alistair MacLean
6 Title : Catch-22  Author : Joseph Heller
7 Title : Schindler's List  Author : Thomas Keneally
8 Title : Band of Brothers  Author : Stephen E. Ambrose
9 Title : The Longest Day  Author : Cornelius Ryan
10 Title : The Rise and Fall of the Third Reich  Author : William L. Shirer