CSV Data import to database

1. Read data from a CSV file

In [44]:
import csv

In [79]:
data = open("Student_score.csv", "r")
print(data)

<_io.TextIOWrapper name='Student_score.csv' mode='r' encoding='UTF-8'>

In [80]:
file = list(csv.reader(data, delimiter=","))
# data.close()
print(file)

[['name', 'Maths', 'Science', 'English', 'Computer Science'], ['student1', '45', '57', '66', '50'], ['student2', '76', '87', '66', '70'], ['student3', '96', '97', '86', '90']]

In [81]:
file = file[1:]
print(file[0])

print(len(file))
print(file[0][0])

['student1', '45', '57', '66', '50']
3
student1

Database

In [63]:
import sqlite3
con = sqlite3.connect("student.db")

In [64]:
cur = con.cursor()

In [65]:
cur.execute("CREATE TABLE student(name, Maths, Science, English, Computer Science)")

In [66]:
res = cur.execute("SELECT name FROM sqlite_master")
res.fetchone()

('student',)

In [67]:
res = cur.execute("SELECT name FROM sqlite_master WHERE name='spam'")
res.fetchone() is None

True

2. Storing Data in a local sqlite database.

In [68]:
cur.executemany("INSERT INTO student VALUES(?, ?,?,?,?)", file)

In [69]:
con.commit()

3. Display the data from the database.

In [74]:
res = cur.execute("SELECT name, Maths, Science, English, Computer Science FROM student")

details = res.fetchall()

for i in range(len(details)):
        print(f"{i+1} name : {details[i][0]}  Maths : {details[i][1]} Science : {details[i][1]} English : {details[i][1]} Computer Science : {details[i][1]}")

1 name : student1  Maths : 45 Science : 45 English : 45 Computer Science : 45
2 name : student2  Maths : 76 Science : 76 English : 76 Computer Science : 76
3 name : student3  Maths : 96 Science : 96 English : 96 Computer Science : 96